@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./synthwave-mtn.css");

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 1s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-animation: 0;
  animation: 0;
}

.retrowave-bg {
  background-image: url("/retrowave.jpeg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

p a:link, p a:visited {
  @apply text-cyan-300;
  opacity: 0.8;
  transition: opacity 0.25s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

p a:hover, p a:active {
  opacity: 1;
  text-decoration: underline;
}

p a svg {
  transition: all 150ms ease-in-out;
}

p a:hover svg {
  margin-left: 3px;
  margin-right: -3px
}

